<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%4d{dd-MM-yyyy HH:mm:ss.SSS} %-5p - %-50.50c - %-30.30X{User} - %m%n" />
		</layout>
	</appender>
	
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/riaya.log" />
		<param name="datePattern" value="'.'dd-MM-yyyy"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%4d{dd-MM-yyyy HH:mm:ss.SSS} %-5p - %-50.50c - %-30.30X{User} - %m%n" />
		</layout>
	</appender>
	
	<logger name="org.hibernate">
		<level value="INFO" />
	</logger>
	
	<logger name="ma.riaya">
		<level value="DEBUG" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</log4j:configuration>
